[Unit]
Description=mongod
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
ExecStart=/taidl/mongodb/bin/mongod --config /taidl/mongodb/etc/mongodb.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/taidl/mongodb/bin/mongod --shutdown --config /taidl/mongodb/etc/mongodb.conf
PrivateTmp=true

[Install]
WantedBy=multi-user.target